# Proyecto 2

In [31]:
import numpy as np
import pandas as pd
import sys
from pandas_profiling import ProfileReport
import statistics
from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D # for 3D plots
import seaborn as sns; sns.set()  # for plot styling

## Cargar los datos

In [32]:
# Se cargan los datos. 
#Para 2017
df_resp=pd.read_csv('./datos/DatosResp2017.csv', sep=';', encoding = "ISO-8859-1")
#Para 2021
#df_resp=pd.read_csv('./datos/DatosResp2021.csv', sep=';', encoding = "ISO-8859-1")

In [33]:
df_resp.head()

   Id  Enfermedad  Basura  Asma  EnfermedadesRespiratorias Localidad
0   1           2       1     1                          1      SUBA
1   2           2       1     1                          1   USAQUEN
2   3           2       1     1                          1   USAQUEN
3   4           1       1     1                          1   USAQUEN
4   5           1       1     1                          1      SUBA

In [34]:
df_resp.shape

(319952, 6)

In [35]:
# Revisar las caracter√≠sticas de los datos: completitud y tipo de dato
df_resp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319952 entries, 0 to 319951
Data columns (total 6 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Id                         319952 non-null  int64
 1   Enfermedad                 319952 non-null  int64
 2   Basura                     319952 non-null  int64
 3   Asma                       319952 non-null  int64
 4   EnfermedadesRespiratorias  319952 non-null  int64
 5   Localidad                  221809 non-null  object
dtypes: int64(5), object(1)
memory usage: 14.6+ MB

In [36]:
df_resp.describe()

,Id,Enfermedad,Basura,Asma,EnfermedadesRespiratorias
count,319952.000000,319952.000000,319952.000000,319952.000000,319952.000000
mean,159976.500000,1.967533,1.070723,1.985226,1.957312
std,92362.331001,0.177238,0.535139,0.120648,0.202152
min,1.000000,1.000000,1.000000,1.000000,1.000000
25%,79988.750000,2.000000,1.000000,2.000000,2.000000
50%,159976.500000,2.000000,1.000000,2.000000,2.000000
75%,239964.250000,2.000000,1.000000,2.000000,2.000000
max,319952.000000,2.000000,6.000000,2.000000,2.000000

## An√°lisis de calidad de datos

### Completitud

In [37]:
# C√°lculo de porcentaje de valores nulos por columna
((df_resp.isnull().sum()/df_resp.shape[0])).sort_values(ascending=False)

Localidad                    0.306743
Id                           0.000000
Enfermedad                   0.000000
Basura                       0.000000
Asma                         0.000000
EnfermedadesRespiratorias    0.000000
dtype: float64

### Unicidad

In [38]:
#Se revisa si hay registros duplicados
df_resp.duplicated(keep = False).sum()

0

### Consistencia

In [39]:
# Se revisa la variable EnfermedadesRespiratorias
df_resp.Basura.value_counts()

1    313964
6      2406
4      2399
5       608
3       394
2       181
Name: Basura, dtype: int64

In [40]:
# Se revisa la variable EnfermedadesRespiratorias
df_resp.Localidad.value_counts()

KENNEDY                 28006
SUBA                    22603
FONTIBON                18746
ENGATIVA                16623
CIUDAD BOLIVAR          16218
USME                    14901
SAN CRISTOBAL           12596
BOSA                    12559
USAQUEN                 12004
PUENTE ARANDA           10243
TEUSAQUILLO              9810
RAFAEL URIBE URIBE       9668
SANTA FE                 8587
BARRIOS UNIDOS           5549
ANTONIO NARI√á?O          5474
TUNJUELITO               5281
LOS MARTIRES             4591
CHAPINERO                4089
CANDELARIA               1984
SUMAPAZ                  1232
OTRA LOCALIDAD RURAL     1045
Name: Localidad, dtype: int64

## Correci√≥n de los datos

In [41]:
df_resp.fillna("Localidad desconocida", inplace=True)

In [42]:
# C√°lculo de porcentaje de valores nulos por columna
((df_resp.isnull().sum()/df_resp.shape[0])).sort_values(ascending=False)

Id                           0.0
Enfermedad                   0.0
Basura                       0.0
Asma                         0.0
EnfermedadesRespiratorias    0.0
Localidad                    0.0
dtype: float64

## Imprimir resultados

In [43]:
#2017
df_resp.to_csv('DatosResp2017_Modifiados.csv', index=False)
#2021
#df_resp.to_csv('DatosResp2021_Modifiados.csv', index=False)